<div *ngIf="enableEdit === false" class="card shadow-sm">
    <div class="card-header bg-secondary text-white">
      <h5 class="mb-0">📋 Task List</h5>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Task ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="todolistloader === false">
          <!-- Example static row -->
          <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <td>{{task.category}}</td>
            <td><span class="badge bg-warning text-dark">{{task.taskCompleted}}</span></td>
            <td>
              <button class="btn btn-sm btn-outline-danger" (click)="onDelete(task)">Delete</button>
              <button class="btn btn-sm btn-outline-primary" style="margin-left:10px;" (click)="onEdit(task)">Edit</button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="todolistloader === true">
         <tr >
           <td colspan="7" class="text-center"><app-loader></app-loader></td>
         </tr>
      </tbody>
      </table>
    </div>
  </div>

<div *ngIf="enableEdit === true">
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary btn-sm" (click)="handleBack()">back</button>
  </div>
  <app-addtodo [taskData]="selectedTodo" (taskUpdated)="handleTaskUpdated()"></app-addtodo>
</div>


