<div class="container">
  <h2 class="mb-4 text-center text-primary">👨‍💼 Author List</h2>
  <div class="table-container">
    <table class="table table-striped table-hover align-middle">
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Date of Birth</th>
          <th>Nationality</th>
          <th>Biography</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="authorListLoader === false">
        <!-- Sample authors -->
        <tr *ngFor="let author of authors">
          <td>{{author.id}}</td>
          <td>
            <img [src]="author.image" alt="{{ author.name }}" width="50" height="50" class="rounded-circle border">
          </td>
          <td>{{author.name}}</td>
          <td>{{author.dob}}</td>
          <td>{{author.nationality}}</td>
          <td>{{author.biography}}</td>
          <td>
            <i class="bi bi-trash text-danger" role="button" (click)="onDelete(author)"></i>
            <i class="bi bi-pencil-square" style="margin-left:10px;" role="button" (click)="onEdit(author)"></i>
          </td>
        </tr>
        <!-- Add dynamic data here -->
      </tbody>
      <tbody *ngIf="authorListLoader === true">
         <tr >
           <td colspan="7" class="text-center"><app-loader></app-loader></td>
         </tr>
      </tbody>
    </table>
  </div>
</div>