/* You can add global styles to this file, and also import other style files */
.snack-success {
  background-color: #4caf50 !important;
  color: white !important;
}


.snack-error {
  background-color: #f44336; /* Red */
  color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.book-cover {
  width: 100%;
  height: 300px; /* or whatever height you want */
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

